@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';


/* scss */
#admin {  
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    height: 100vh;
    overflow: hidden;
    display: flex;

    .admin-icon {
        border-radius: 20px 20px 0 0;
    }


#sidebar {
    width: 20%;
    background: rgb(31,29,43);
    background: linear-gradient(0deg, rgba(31,29,43,1) 0%, rgba(0,0,0,1) 100%);
    margin: 20px;
    border-radius: 20px;
    color: rgb(206, 206, 206);
    transition: width 0.5s ease; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  #sidebar ul {
    list-style: none;
  }
  
  #sidebar a {
    text-decoration: none;
    color: rgb(206, 206, 206);
    transition: opacity 0.5s ease; 
  }
  

  @media (max-width: 868px) {
    #sidebar {
      padding-top: 10px;
      width: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #sidebar li{
        display: inline-block;
        padding: 10px;
        width: auto;
        border-radius: 15px;
    }
  
    #sidebar .admin-icon span {
      display: none; 
    }
  
    #sidebar ul li span {
      display: none; 
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }

    .admin-icon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
  
  }

    #wrapper {
        flex-grow: 1;
        background: rgb(31,29,43);
    background: linear-gradient(0deg, rgba(31,29,43,1) 0%, rgba(0,0,0,1) 100%);
        margin: 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        overflow: auto;
    }

    #wrapper::-webkit-scrollbar {
        background-color: #1F1D2B;
        width: 16px;
        border-radius: 100px;
        right: 10px;
        display: none;
    }
}

#sidebar li{
    display: inline-block;
    padding: 10px;
    width: 200px;
    border-radius: 15px;
}

#sidebar li:hover {
    background-color: #1E0342;
    cursor: pointer;
    transition: all 0.5ms;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
}

.topnav {
    background: #1E0342;
    overflow: hidden;
    border-radius: 15px 15px 0 0 ;
  }
  

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


  
  .topnav a:hover:not(:nth-last-child(2)) {
    background-color: #ddd;
    color: black;
  }



  .last_a:hover {
    background-color: #1E0342 !important;
  }
  

  .topnav .icon {
    display: none;
  }


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .img-profile {
    width: 20px;
  }
  .projects {
    color: white;
  }

  table {
    max-width: 92%;
    margin: auto;

    .final {
      .view {
        border: 1px solid rgb(5, 154, 5);
      }

      .edit {
        border: 1px solid rgb(50, 50, 253);
      }

      .delete {
        border: 1px solid red;
      }
    

    div {
        display: inline-block;
        height: 30px;
        width: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px;
        border-radius: 5px;
    }
  }
  }

  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  

  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }

  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }

  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }

  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }

  .Btn:active {
    transform: translate(2px ,2px);
  }


  

